{% extends 'base.html' %}
{% block content %}
    <section class="section-read">
        <div class="section-read-wrapper">
            <div class="section-read-wrapper__header">
                <div title="Menu" id="menuToggle">
                    <input type="checkbox">
                    <span></span>
                    <span></span>
                    <span></span>
                    <div id="menu">
                        <div class="block-links_r">
                            <div class="homepage_r">
                                <div class="homepage_r_icon"></div>
                                <a class="link_homepage_r" href='/'>Homepage</a>
                            </div>
                            <div class="create_r">
                                <div class="create_r_icon"></div>
                                <a class="link_create_r" href="/notes/create/">Create note</a>
                            </div>
                            <div class="read_r">
                                <div class="read_r_icon"></div>
                                <a class="link_read_r" href='/notes/read/'>Read Notes</a>
                            </div>
                        </div>
                        <div class="bottom_r">
                            <div class="username_r">
                                <h2 class="profile_name_r">{{ user.username }}</h2>
                                <div class="username_r_icon"></div>
                            </div>
                            <div class="logout_r">
                                <a href="/auth/logout" class="logout_r_text">logout</a>
                                <div class="logout_r_icon"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-create-wrapper__header__logo"></div>
            </div>
            <div class="section-read-wrapper__notesblock">
                <div class="pagination">
                    {% if prev > 0 %}
                        <a class="prev" href="?page={{prev}}"></a>
                    {% endif %}
                    {% for page in pages_count_list %}
                        <a class="page" href="?page={{page}}">{{page}}</a>
                    {% endfor %}
                    {% if next <= pages_count %}
                        <a class="next" href="?page={{next}}"></a>
                    {% endif %}
                </div>
                {% for note in notes_list %}
                    <div class="note">
                        <div class="note_top">
                            <div class="note_header">
                                <h1>{{ note.header }}</h1>
                            </div>
                            <p>{{ note.date }}</p>
                        </div>
                    </div>
                    <p>{{ note.text }}</p>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}